<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align_items-center">
                        <figure>
                            <img src="images/about.png" alt="sameeksha", class="img-fluid" title="dark sky weather app">
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <h1>I Am A <span class="text_clr">Result Oriented Individual. </span>My passion is to learn new skills and enhance my knowledge</h1>
                        <a href="/about"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}
  </body>
</html>
